
.onlineCateringContainer {
    margin-top: 100px;
    display: flex;
    justify-content: space-between;
}

.onlineCateringDetails .onlineCateringHeader {
    width: 200px;
    height: 27px;

    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
}

.onlineCateringDetails .onlineCateringSubHeader {
    width: 425px;
    line-height: 36px;

    font-style: normal;
    font-weight: 500;
    font-size: 24px;
}

.onlineCateringDetails .onlineCateringParagraph {
    width: 428px;
    height: 48px;
    margin-top: 20px;

    font-style: normal;
    font-size: 16px;
    line-height: 24px;
}

.onlineCateringDetails .onlineCateringButton {

    background-color: #FFE074;
    border: none;
    border-radius: 2px;
    width: 100px;
    height: 36px;
    text-decoration: none;
    text-align: center;
}

.onlineCateringDetails .onlineCateringButton p {
    width: 100%;
    height: 16px;
    font-family: "Roboto";
    font-size: 14px;
    line-height: 16px;
    text-align: center;

    color: #181818;
}

.onlineCateringDetails .onlineCateringLastParagraph {
    margin-top: 110px;
    width: 444px;
    height: 42px;
    padding: 17px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: normal;
    line-height: 21px;

    color: #181818;

    background-color: #FFE074;
    

}

.onlineCateringIcons {
    display: flex;
    
}

.onlineCateringIcons .fa-instagram, .onlineCateringIcons .fa-twitter {
    color: #FFC600;
    width: 24px;
    height: 31.6px;
    margin-right: 10px;
}

.onlineCateringDetails {
    margin-left:96px ;
    padding: 50px;
}
.onlineCateringImg img {
    width: 512px;
    height: 500px;
}

@media (max-width: 700px) { 
    .onlineCateringContainer {
        margin-top: -20px;
        display: flex;
        flex-direction: column;
    }
    .onlineCateringDetails {
        margin-top: 80px;
        margin-left: auto;
        margin-right: auto;
    }

    .onlineCateringImg img {
        width: 375px;
        height: 209px;

        display: block;
        margin-left: auto;
        margin-right: auto;
        
    }

    .onlineCateringDetails .onlineCateringLastParagraph {
        width: 350px;
    }
 }

.tastyMealsHeader, .mostOrderedMenuHeader, .servicesWeProvideHeader, .whyChooseUsHeader, .formWrapperHeader {
    text-align: center;
}


.tastyMeals {
    display: flex;
    justify-content: space-between;
}

.tastyMeals div .tastyMealsDetails {
    width: 500px;
    height: 168px;
    margin-left: 81px;

    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
}

@media (max-width: 700px) {
    .tastyMeals{
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    .tastyMeals div .tastyMealsDetails {
        width: 300px;
    }

    .tastyMeals img {
        display: block;
        margin-left: auto;
        margin-right: auto;

        width: 300px;
    }
}

.mostOrderedMenu {
    display: flex;
    justify-content: space-evenly;
}

.mostOrderedMenuCard {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 5px;
    width: 270px;
    height: 118px;
    text-align: center;
    
}

.mostOrderedMenuCard:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.mostOrderedMenuContainer {
    
    padding: 2px 16px 2px 16px;
    background-color: #FFCA13;
}

.mostOrderedMenuCard img {
    display: block;
    border-radius: 5px 5px 0 0;
    
}

@media all and (max-width:700px) {
    .mostOrderedMenu {
        display: flex;
        flex-direction: column;
    }

    .mostOrderedMenuCard {
        display: block;
        margin-left: auto;
        margin-right: auto;
        padding-bottom: 120px;
        margin-bottom: 50px;
        
    }


}

.servicesWeProvideHeader {
    margin-top: 200px;
    
}

.servicesWeProvide {
    margin-left: 84px;
    margin-bottom: 70px;
    display: flex;
    justify-content: space-around;
}
.servicesWeProvide .servicesWeProvideImg {
    margin-top: 40px;
    position: absolute;
    z-index: -1;
}

.servicesWeProvide .servicesWeProvideImg2 {
    margin-left: 151px;
    margin-top: 143px;
}

.servicesWeProvide div .servicesWeProvideParagraph {
    width: 340px;
    height: 192px;
    /* margin-top: 82px; */

    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 33px;
}

@media (max-width: 700px) {
    .servicesWeProvide {
        display: flex;
        flex-direction: column;
    }

    .servicesWeProvide img{
        width: 250px;
        height: 250px;
    }
    .servicesWeProvideParagraph {
        margin-left: auto;
        margin-right: auto;
    }

}

.whyChooseUs {
    display: flex;
    justify-content: space-evenly;
}

.whyChooseUs .whyChooseUsOne {
    width: 250px;
    height: 238px;
    text-align: center;
    background-color: #FFCA13;
    box-shadow: 0px 4px 4px rgba(0,0,0,0.1);
}

.whyChooseUs .whyChooseUsOne img {
    margin-top: 50px;
}

.whyChooseUs .whyChooseUsOne .whyChooseUsOneParagraph {
    margin-top: 35px;
    height: 24px;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
}

@media (max-width: 700px) {
    .whyChooseUs {
        display: flex;
        flex-direction: column;
    }

    .whyChooseUs .whyChooseUsOne {
        margin-bottom: 20px;

        display: block;
        margin-left: auto;
        margin-right: auto;
    }
}

.formWrapper {
    margin-top: 20px;
    padding-top: 40px;
    padding-bottom: 40px;
    /* height: 562px; */
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.67), rgba(255, 255, 255, 0.67)) , url("../assets/formBackground.png");
}



.wrapper {
    list-style-type: none;
    padding: 0;
    border-radius: 3px;
    text-align: center;
  }
  .form-row {
    padding: .5em;
  }
  .form-row > label {
    padding: .5em 1em .5em 0;
    
  }
  .form-row > input {
    width: 429px;
  }
  .form-row > input,
  .form-row > button {
    padding: .5em;
  }
  .form-row > button {
   background:#FFCA13;
   color:black;
   border: 0;
   margin-right: 330px;
  }

  .messageInput {
      margin-right: 20px;
  }

  
